PORT=5001
MONGODB_URI=mongodb+srv://sukrutdusane:paperloop@cluster0.l53ycr8.mongodb.net/paperloop?appName=Cluster0
JWT_SECRET=replace_with_a_long_random_secret

PINATA_API_KEY=replace_with_pinata_api_key
PINATA_SECRET_API_KEY=replace_with_pinata_secret

POLYGON_NETWORK=amoy
POLYGON_AMOY_RPC_URL=https://rpc-amoy.polygon.technology
PAPERLOOP_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000

REQUIRE_FIREBASE_AUTH=false
FIREBASE_PROJECT_ID=replace_with_firebase_project_id
FIREBASE_SERVICE_ACCOUNT_PATH=./firebase-service-account.json
